body {
    background-color: rgb(45, 138, 226);
}

.image{
    border: 5px solid rgb(235, 243, 216);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(55, 55, 55);
    background-color: #a095ff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    display:grid;
    place-items: center;
}